/*
Custom css
*/

@font-face {
	font-family: "Poppins Extra Bold";
	font-weight: 900;
	src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
	font-family: "Poppins Regular";
	src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Raleway";
	font-weight: normal;
	src: url(../font/Raleway/Raleway-VariableFont_wght.ttf);
}

:root {
	--c60: 255 255 255;
	--c30: 0 0 0;
	--c10: 50 205 50;
	--c60i: 0 0 0;
	--c30i: 255 255 255;
	--c10i: 255 255 255;
	--font-1: "Poppins Extra Bold";
	--font-2: "Poppins Regular";
	--font-3: "Raleway";
}

body {
	font-family: var(--font-2);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-1);
}

thead th {
	border-top: 0!important;
}

.btn-theme {
	background-color: rgb(var(--c10));
	font-family: var(--font-1);
	color: rgb(var(--c10i));
}

.ff1 {
	font-family: var(--font-1);
}

.ff2 {
	font-family: var(--font-2);
}

.ff3 {
	font-family: var(--font-3);
}

.fc60 {
	color: rgb(var(--c60i));
}

.fc30 {
	color: rgb(var(--c30i));
}

.fc10 {
	color: rgb(var(--c10i));
}

.fct {
	color: rgb(var(--c10));
}

nav {
	z-index: 999;
}

.product-details .crsl {
	position: relative;
	height: 300px;
}

.product-details .crslc {
	height: 100%;
}

.product-details .crsli {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .1s opacity;
}

.product-details .crsli.active {
	opacity: 1;
}

.product-details .crslp, .product-details .crsln {
	position: absolute;
	background-color: rgb(var(--c30) / .1);
	color: rgb(var(--c30i));
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	width: 30px;
	height: 30px;
	bottom: 5px;
}

.product-details .crsl:hover .crslp, .product-details .crsl:hover .crsln {
	background-color: rgb(var(--c30));
}

.product-details .crslp {
	right: 60px;
}

.product-details .crsln {
	right: 5px;
}

.product-details .crsl img {
	position: relative;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 300px;
	transform: translate(-50%, -50%);
}

.product-details th, 
.product-details td {
	width: 50%;
	border: 0;
}